*{
    margin: 0;
    padding: 0;
}

ul,ol{ list-style: none; }

nav ul{
    display: flex;
    column-gap: 1em;
}
header{ padding: 1em;}
main{ padding: 1em; }

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: black;
    color: white;
    padding: 1em;
    text-align: center;
}

.error_mes{ color: darkred; }